/* --------------------------
  Main Styles
--------------------------- */
* {
	box-sizing: border-box;
}

.main-header,
.nav {
	display: flex;
	flex-direction: column;
}

.main-header {
	padding-top: 0.5em;
	background-color: rgb(225, 229, 238);
}

.name {
	align-self: center;
}

h3 {
	color:  rgb(226, 71, 97);
}

.nav a {
	display: block;
	color: #476481;
	font-size: 1.125em;
	font-weight: 300;
	text-align: center;
	padding: .4em;
	border-bottom: 1px solid #ebecec;
	margin-left: 1em;
	margin-right: 1em;

}

.nav a:hover {
	color: #0b0b0b;
	border-bottom-color: #5b5c9c;
}

.intro {
	background: #fafaf0 ;
	padding: 0.5em 0;
}

.profile-image {
	width: 60%;
	margin-top: 25px;
}
.intro,
.profile-image {
	text-align: center;
}
.line {
	margin-left: 1em;
	margin-right: 1em;
}

body {
  color: #797e83;
  font-size: 16px;
		margin: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5; 
}

ul,
li {
  margin: 0;
  padding: 0;
		list-style-type: none; 
		
		
}

a {
  color: #656a6e;
  text-decoration: none;
  font-weight: 400; 
}

.container {
	width: 90%;
	text-align: center;
	margin-left: 1em;
	margin-right: 1em;
}
img {
	max-width: 100%;
}
.project{
	margin-top: 30px;
	margin-left: 0.1em;
	margin-right: 0.1em;
}
.project h4 {
	margin-bottom: 0;
}
.portfolio {
	margin-bottom: 50px;
}
h3 {
	margin-top: 50px;
	font-size: 1.3em;
}
h4 {
	font-size: 1.1em;
}

/* --------------------------
  Skill Styles
--------------------------- */
.skill {
	text-align: center;
	margin-top: 2em;
	padding: 10px 15px 20px 15px;
	background-color: #b2c5ce;
}
.skills li {
	margin-top: 8px;
	font-style: italic;
}

/* --------------------------
  Contact Styles
--------------------------- */
.contact {
	text-align: center;

	
	padding: 10px 15px 20px 15px;
	background-color: #fafaf0;
	border-bottom: 0.5px solid rgb(214, 208, 208);

}

.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
/* --------------------------
  Footer Styles
--------------------------- */
.main-footer {
	text-align: center;
	padding-top: 2%;
	margin-top: 2%;
	margin-bottom: 3%;
	position: relative;
}

.name-footer {
	width: 50%;
	float: left;
	margin: 0  auto;
	text-align: left;
	padding-left: 1em;
}

.back2top {
	float: right;
	margin: 0  auto;
	padding-right: 1em;
}
.back2top a {
	color: #5b5c9c;
}

.bottom-nav {
	display: none;
}


/* --------------------------
  Media Queries
--------------------------- */

@media (min-width: 768px) {
	.main-header {
		height: 150px;
		justify-content: flex-end;
	}

	.nav {
		margin-top: 0.5em;
		flex-direction: row;
		justify-content: space-between;
	}
	.nav a {
		border-bottom-color: transparent;
	}

	.profile-image {
		width: 40%;
		float: right;
		margin-right: 1.5em;
	}
	.line {
		width: 50%;
		float: left;
		margin-left: 1.5em;
		text-align: left;
		font-size: 19px;
	}
	.intro {
		padding-bottom: 50px;
	}
	
	.container {
		width: 96%;
		
	}
	.project {
		float: left;
	}
	
	.portfolio-1,
	.portfolio-2,
	.portfolio-3,
	.portfolio-4,
	.portfolio-5,
	.portfolio-6 {
			width: 50%;
			margin:0 auto;
	}
	.project img {
		width: 90%;
	}
	.project p {
		font-size: 1.125em;
		padding-left: 7%;
		padding-right: 7%;
		text-align: center;
	}
	.skill {
		padding-bottom: 3em;
	}
	.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 20px;
  margin: 5px;
}
.skills li:nth-child(odd) {
	background: #0399ff;
}


	.contact p {
		padding: 0 20%;
	}
.back2top {
	display: none;
}
.bottom-nav li {
	display: inline-block; 
	padding-left: 10px;
	}
.bottom-nav a {
	color: #514c91;
}

	.bottom-nav {
		display: block;
		width: 50%;
		float: right;
		margin: 0;
		padding-right: 10px;
	}
}

@media (min-width: 1024px) {
	.main-header {
		flex-direction: row;
	
	}
	.name {
		margin-right: auto;
		margin-left: 0.8em;
	}
	.nav {
		margin-top: 0;
		align-self: center;
	}
	.nav li {
		margin-left: 0.8em;
		margin-right: 0.8em;
	}

	.intro .line {
		font-size: 1.25em;
	}
	.portfolio-1,
	.portfolio-2,
	.portfolio-3,
	.portfolio-4,
	.portfolio-5,
	.portfolio-6 {
			width: 33.33%;
			margin:0 auto;
	}

	.project {
		margin-bottom: 40px;
	}

	.project p {
		text-align: center;
		font-size: 15px;
		margin-left: 0.18em;
		margin-right: 0.18em;
	}
	.main-footer {
		margin-left: 0.8em;
	}
	.bottom-nav {
		display: block;
		width: 40%;
		float: right;
		margin: 0;
		padding-right: 0.8em;
		}

}