/* ================================= 
  Base Element Styles
==================================== */


* {
 box-sizing: border-box;
}

body {
 line-height: 1.6;
 text-align: center;
 margin: 0;
 padding:0;
 max-width: 100%;
}

a {
 text-decoration: none;
}

img {
 max-width: 80%;
}

li {
  list-style-type: none;
  background-color: rgb(245, 249, 250);
  border: 1px solid red;
  margin-right: 5%;
  padding-right: 5%;
  
}

/* ================================= 
  Base Layout Styles
==================================== */

/* -----Navigation------ */

.name {
 font-size: 1.25em;
 margin:0;
}

.nav {
 margin-top: 5px;
}

.name,
.main-nav a {
 text-align: center;
 display: block;
 
}

.profile-image {
 margin: 10px 40px auto;
}
.introduction {
 text-align: center;
}

/* ================================= 
  Media Queries
==================================== */

/* ---- Min-width 768px ---- 
@media (min-width: 768px) {
  .name,
  .main-nav li {
    display: block;
    text-align: center;
  }
}



.clearfix::after {
  content: " ";
  display: table;
  clear: both;


 */
